.VboxClasses:hover .imageShadow
{
    -fx-effect: dropshadow(three-pass-box, #FF9572, 10, 0, 0, 0);
    -fx-cursor: hand;
}
.VboxClasses:hover .personalText
{
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.toolBar
{
    -fx-background-image: url("/data/img/header.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
BorderPane{
    -fx-background-color: white;
    -fx-border-color: white;
}
 .personalText
{
    -fx-font-size: 20px;
}
Button
{
    -fx-background-color: #ffb49b;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-border-width: 2px;

    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 5;
}
Button:hover
{
    -fx-background-color: #FF9572;
    -fx-cursor: hand;

}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: rgba(87, 172, 139, 0.37);

}

.tab-pane .tab:selected
{
    -fx-background-color: rgba(111, 169, 153, 0.56);
}
.tab-pane .tab:hover
{
    -fx-background-color: rgba(111, 169, 153, 0.56);
    -fx-cursor:hand;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: azure;
}
.table-view{
    -fx-background-color: white;
}

.table-view:focused{
    -fx-background-color:rgba(111, 169, 153, 0.56);
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: white;
    -fx-table-header-color: white;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 10 1 0;
    -fx-background-color: rgba(117, 186, 155, 0.28);
    -fx-table-cell-border-color: white;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-text-fill: rgba(66, 101, 92, 0.73);
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color:  #ffb49b;
    -fx-table-cell-border-color: white;
}


